form
  display: flex
  flex-direction: column
  width: fit-content
  align-items: center
  padding: 10px
  margin: 30px
  border: 2px solid black

.container
  display: flex
  flex-direction: row
  width: fit-content
  padding: 5px
  align-content: space-between

.labeltitle
  font-size: 24px
  margin-bottom: 5px
  font-weight: bolder

.win
  font-size: 24px
  margin-bottom: 5px
  font-weight: bolder


button
  font-size: 20px
  border: 2px solid black
  background-color: lightgray


.submitbutton, .battle_button
  margin-top: 15px
  margin-bottom: 5px

.battle_button
  margin-left: auto
  margin-right: auto

input
  font-size: 22px

.notexist
  color: crimson
  font-size: 24px
  font-weight: bolder

.errordiv
  margin-bottom: 20px

.textdiv
  display: flex
  flex-direction: column
  width: fit-content
  align-items: start
  font-size: 24px

.boldtext
  font-weight: bolder
