form
  display: flex
  flex-direction: column
  width: fit-content
  align-items: center
  padding: 10px
  margin: 30px
  border: 2px solid black

.container
  display: flex
  flex-direction: row
  width: fit-content
  padding: 5px
  align-content: space-between

.labeltitle
  font-size: 24px
  margin-bottom: 5px

.submitbutton
  font-size: 22px
  border: 2px solid black
  margin-top: 15px
  margin-bottom: 5px

input
  font-size: 22px

.notexist
  color: crimson
  font-size: 24px
  font-weight: bolder

.errordiv
  margin-bottom: 20px
